apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: music-assistant-pvc
  namespace: home-assistant
  annotations:
    volume.beta.kubernetes.io/storage-class: "freenas-iscsi-csi"
spec:
  storageClassName: freenas-iscsi-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi